[Unit]
Description=Allow external control of CEC commands to TV
After=network.target

[Service]
DynamicUser=yes
SupplementaryGroups=video
Restart=on-failure
ExecStart=/usr/bin/cecvol

[Install]
WantedBy=multi-user.target
