[Unit]
Description=Allow external control of CEC commands to TV
After=network.target

[Service]
DynamicUser=yes
Restart=on-failure
ExecStart=/usr/bin/cecvol --use-lg-ip-control

[Install]
WantedBy=multi-user.target
