.background {
  viewport-fill: black;
}

text {
  fill: fb-cyan;
  font-size: 32;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: middle;
  text-length: 99;
}

rect {
  fill: fb-cyan;
}

#status {
  fill: green;
  text-anchor: start;
  font-size: 16;
}